/* reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --blue: #518dd7;
    --pink: #f9ccdb;
    --dark-pink: #c56983;
    --lemon: #FDF5BF;
    --grey: #464b58;
}

/* style */

body {
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    flex: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100vw;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

.link {
    padding: 20px;
}

.link:hover {
    background-color: #032044;
}

.link a {
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
    padding: 100px;
    gap: 30px;
    background-color: var(--pink);
}

.first-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-pink);
}

h1 {
    font-size: 4vw;
    font-weight: 700;
}

h1+p {
    font-size: 1.5vw;
}

.first img {
    width: 50vw;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: white;
    background-color: var(--grey);
}

h2 {
    font-size: 3vw;
    margin-top: 30px;
}

.pictures-container {
    display: flex;
    gap: 30px;
    margin: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.photo {
    background: 50% 50% no-repeat;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    outline: 2px white solid;
}

.photo:nth-child(1) {
    background: url(img/andrea-ferrario-3WgPZbsDSkE-unsplash.jpg);
}

.photo:nth-child(2) {
    background: url(img/andres-perez-AUrK7wuV8fE-unsplash.jpg);
}

.photo:nth-child(3) {
    background: url(img/eberhard-grossgasteiger-nqYbkm8Wg_I-unsplash.jpg);
}

.photo:nth-child(4) {
    background: url(img/laura-vinck-Hyu76loQLdk-unsplash.jpg);
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--lemon);
}

.quote {
    padding: 150px;
    width: 60%;
}

.words {
    font-size: 2vw;
    font-style: italic;
    font-weight:300;
    margin-bottom: 10px;
}

.author {
    float: right;
    font-size: 1.5vw;
    font-weight: 700;
}

footer {
    background-color: var(--pink);
    padding: 20px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-container a {
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-pink);
}

a:visited {
    
}